/best_model.keras
#pycache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz

# large data
data/*.npy

# training outputs
weights/
history/
logs/
results/
backup/

# documentation (temporary)
BAM_V2_USAGE.md
